/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-Apr-2017, 6:19:11 PM
    Author     : Deemantha
*/
.root{
    -fx-background-color: linear-gradient(#267871,#136a8a);
}

.label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 4px;
}

.button{        
    -fx-font-size: 12px;
    -fx-spacing: 2;
    -fx-hgap: 20.0;
}

.hbsubmit{
    -fx-padding: 2 0 0 100;
}